.admin {
  padding: 40px 15%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 30px;
}
.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-screen .login-form {
  background-color: white;
  box-shadow: 0px 10px 10px #f0f0f0;
  padding: 50px 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-screen .login-form h1 {
  color: #494949;
  text-align: center;
}
.login-screen .login-form .form-element {
  display: flex;
  flex-direction: column;
}
.login-screen .login-form .form-element label {
  color: gray;
  font-size: 0.9rem;
}
.login-screen .login-form .form-element input {
  color: #494949;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #f7f8f9;
  width: 300px;
}
.login-screen .login-form .form-element .password {
  position: relative;
}
.login-screen .login-form .form-element .password input {
  padding: 10px 30px 10px 10px;
}
.login-screen .login-form .form-element .password label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #2c2c2c;
  font-size: 1.1rem;
}
.login-screen .login-form .form-element .password input[type="checkbox"] {
  display: none;
}
.login-screen .login-form button {
  color: #00ca54;
  font-size: 1.1rem;
  transition: color 0.6s;
  padding: 10px;
}
.login-screen .login-form button:hover {
  color: #494949;
}
