.admin-sidebar {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0px 10px 10px rgb(240, 240, 240);
  .user-name {
    padding: 20px 20px 0px 20px;
    color: rgb(70, 70, 70);
    font-weight: bold;
  }
  .user-position {
    padding: 0px 20px 1rem 20px;
    color: gray;
    font-size: 0.9rem;
  }
  hr {
    border-color: #f7f8f93f;
  }
  h2 {
    font-size: 0.8rem;
    font-weight: normal;
    padding: 20px 20px 0px 15px;
    color: grey;
  }
  a {
    color: rgb(70, 70, 70);
    padding: 10px 20px;
    transition: color 0.5s;
    display: flex;
    align-items: center;
    .icon,
    .icon-fill {
      margin-right: 5px;
    }
  }
  a.active {
    color: #f86340;
  }
  button {
    color: rgb(70, 70, 70);
    padding: 10px 20px;
    transition: color 0.5s;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    .icon,
    .icon-fill {
      margin-right: 5px;
    }
  }
}
